.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#html-body {
  margin-top: -22px
}

.App-header {
  background-color: #282c34;
  height: 82px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: white;
}

.App-body{
  height: 100%;
  background-color: #b9c9d7;
  min-height: 90vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border-radius: 10px;
  background-color: #e6ecf2;
}

input[type=text]:focus, input[type=password]:focus, input[type=text]:hover, input[type=password]:hover {
  border: 3px solid #555;
}

.homepage-container {
  margin: 0 auto;
  position: relative
}

.inner-container {
  margin: 0 auto;
  padding: 20px 0;
  position: relative;
  width: 980px;
}

.homepage-menu {
  min-height: 640px;

}

.user-auth {
  min-height: 640px;
  margin: 0;
  padding: 0;
  outline: none;
}

.user-auth-text-container {
  display: inline-block;
  margin-right: 15.999px;
  vertical-align: top;
  width: 565px;
}

.user-auth-form-container {
  display: inline-block;
  vertical-align: top;
  width: 399px;
}

.user-auth-form-text-h2 {
  color: #333;
  font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 5px;
}

.user-auth-form-text {
  color: #333;
  font-family: 'Freight Sans', Helvetica, Arial, sans-serif;
  font-size: 19px;
  line-height: 1.26;
  margin-bottom: 20px;
}

.login-switch-span {
  font-weight: bold;
  cursor: pointer;
}

.login-switch-span:hover {
  text-decoration: underline;
  background-color:#ccc;
  border-radius: 10px;
  padding: 7px

}

.user-auth-button {
  color: black;
  padding: 16px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 8px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #e6ecf2;
  border: 2px solid #e7e7e7;
  border-radius: 10px;
  font-weight: bold;
}

.user-auth-button:hover {
  background-color: #ccc;
}

.user-auth-h2 {
  color: #333;
  display: inline-block;
  font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: normal;
  line-height: 36px;
  padding: 42px 0 24px;
  text-rendering: optimizelegibility;
  width: 433px;
  margin-bottom: 5px;
}

.user-auth-div-explain {
  margin-top: 14px;
  padding-bottom: 10px;
}

.user-auth-span-explain {
  color: #668;
  display: inline-block;
  font-size: 15px;
  line-height: 20px;
  vertical-align: middle;
  width: 430px;
  font-weight: bold;
  text-align: left
}

.menu-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: ". . . . . . ." ". . . . . . ." ". . . . . . ." ". . . . . . ." ". . . . . . ." ". . . . . . .";
    border: #282c34;
    border-style: solid;
    border-radius: 10px;
}

.chatroom-container {
  background-color: rgb(67, 102, 132);
  height: 670px;
  display: grid;
  grid-template-columns: 5fr 7fr;
  opacity: 0.97
}

#video-feed-main {
  float: left
}

.chat-box {
  margin-top: 16px;
  height: 94%
}

.chat-box-hr {
  border: 0;
  clear: both;
  display: block;
  width: 100%;
  background-color: #111;
  height: 1px;
}

.chat-list {
  list-style-type: none;
  background-color: rgb(103, 148, 187);
  overflow: scroll;
  overflow-wrap: break-word;
  height: 530px;
  width: 700px;
  margin-bottom: 12px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  border-radius: 7px;
  border: solid;
  background-color: rgba(51, 51, 51, 0.418);
  display: flex;
  flex-direction: column;
}

.chat-list::after {
  content: '';
  height: 3px;
  display: block;
  flex-shrink: 0;
}

#chatbox-message-form {
  border-radius: 12px;
  width: 21%;
  font-weight: 550;
  font-family: Helvetica;
  height: 2em;
  outline: none;
  overflow: hidden;
  padding: 5px;
  padding-left: 9px;
  margin-left: 15px;
  font-size: 16px;
  background-color: #cbe6fd;
  border: 3px solid black;
  float: left;
  transition: width 0.4s ease-in-out;
}

#chatbox-message-form:hover, #chatbox-message-form:focus {
  border-color: rgb(83, 72, 177);
  width: 50%;
}

#chatbox-message-send-button {
  float: left;
  border-radius: 12px;
  width: 10%;
  font-weight: 550;
  font-family: arial;
  height: 3em;
  outline: none;
  padding: 5px;
  padding-left: 9px;
  cursor: pointer;
  font-size: 16px;
  background-color: rgb(131, 169, 202);
  border: 3px solid black;
  font-weight: bold;
}

#chatbox-message-send-button:hover {
  border-color: rgb(83, 72, 177);
}

.start-stop-chatbox-button {
  float: right;
  border-radius: 12px;
  width: 17%;
  font-weight: 550;
  font-family: arial;
  height: 3em;
  outline: none;
  padding: 5px;
  padding-left: 9px;
  cursor: pointer;
  font-size: 16px;
  background-color: rgb(131, 169, 202);
  border: 3px solid black;
  font-weight: bold;
}
.start-stop-chatbox-button:hover {
  border-color: rgb(83, 72, 177);
}

.next-chatbox-button {
  float: right;
  border-radius: 12px;
  width: 10%;
  font-weight: 550;
  font-family: arial;
  height: 3em;
  outline: none;
  padding: 5px;
  padding-left: 9px;
  cursor: pointer;
  font-size: 16px;
  background-color: rgb(131, 169, 202);
  border: 3px solid black;
  font-weight: bold;
}
.next-chatbox-button:hover {
  border-color: rgb(83, 72, 177);
}

.chatroom-home-button {
  border-radius: 12px;
  width: 10%;
  font-weight: 550;
  font-family: arial;
  height: 3em;
  outline: none;
  padding: 5px;
  padding-left: 9px;
  cursor: pointer;
  font-size: 0.9vw;
  background-color: rgb(131, 169, 202);
  border: 3px solid black;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 2px;
}
.chatroom-home-button:hover {
  border-color: rgb(83, 72, 177);
}

.location-messages {
  color: white;
  margin-bottom: 10px;
  margin-top: 10px;
  text-shadow: -.75px -.75px 0 rgb(0, 0, 0),
  .75px -.75px 0 rgb(0, 0, 0),
  -.75px .75px 0 rgb(0, 0, 0),
  .75px .75px 0 rgb(0, 0, 0);
  display: inline-flex;
}

.text-messages-container {
  /* color: white; */
  margin-bottom: 10px;
  margin-top: 10px;
  /* text-shadow: -.75px -.75px 0 rgb(0, 0, 0),
  .75px -.75px 0 rgb(0, 0, 0),
  -.75px .75px 0 rgb(0, 0, 0),
  .75px .75px 0 rgb(0, 0, 0); */
  display: inline-flex;
}

.message-data {
  text-align: left;
  margin-bottom: 3px;
  margin-left: 2px;
  font-size: 12px;

  color: white;
  text-shadow: -0.75px -0.75px 0 rgb(0, 0, 0),
               0.75px -0.75px 0 rgb(0, 0, 0),
              -0.75px 0.75px 0 rgb(0, 0, 0),
               0.75px 0.75px 0 rgb(0, 0, 0);
}

.message-data-time {

}

.message-data-name {

}

.message {
  display: block;
  float: left;
  min-height: 35%;
  max-width: 63%;
  padding: 7px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  text-align: left;
  background-color: gray;
  border-radius: 10px;
  border: black solid 2px;
  font-size: 20px;
}

/* .text-messages {
  color: white;
  margin-bottom: 10px;
  margin-top: 10px;
  text-shadow: -.75px -.75px 0 rgb(0, 0, 0),
  .75px -.75px 0 rgb(0, 0, 0),
  -.75px .75px 0 rgb(0, 0, 0),
  .75px .75px 0 rgb(0, 0, 0);
  display: inline-flex;
} */


#myVideo {
  margin-top: 16px;
}

.myVideoOverlay {
  position: absolute;
  float: left;
  width: 191px !important;
  height: 142px !important;
  top: 89px;
  left: max(355px, calc(370px + (100vw - 1321px)*0.20168 )) !important;
  background-color: #000;
  z-index:300000;
  margin-top: 20px !important;
}

.theirVideoOverlay {
  margin-top: 112px;
  width: 545px !important;
  height: 409px !important;
}

.videoFeed {
  border-radius: 7px;
  border: solid;
  background-color: #333;
  width: 400px;
  height: 300px;
}

.videoFeed:hover {
  border-color: rgb(83, 72, 177)
}